body {
  /* background-image: url("https://i.imgur.com/QnKuamC.gif"); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed; */

  background: linear-gradient(270deg,   #1CA5AB50,  #94C12150,  #F08C2850,  #EB595550,  #EC661950);
  background-size: 200% 200%; 
  animation: gradientMove 1s linear infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.overlay {
  z-index: 999;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Oswald;
  font-size: 2rem;
  color: #126064;
  text-shadow: 0 0 10px rgb(27, 72, 75, 0.15);
  font-weight: 800;
  animation: fadeOut 3s ease-in-out forwards;

}

@keyframes fadeOut {
  0% {
    opacity: 1;
    background-color: rgb(206, 222, 222, 1);
  }

  25% {

    background-color: rgb(206, 222, 222, 0.7);
  }

  50% {

    background-color: rgb(206, 222, 222, 0.9);
  }

  75% {

    background-color: rgb(206, 222, 222, 0.5);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    background-color: rgb(206, 222, 222, 1);
  }
}

.overlay p {
  text-align: center;
  margin: 0 auto;
  padding: 0 20%;

}

.MainContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  margin: 0;
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  padding: 0 0 0 0%;
  margin: 0;

}

.SyllabusTitle {
  text-align: center;
  font-family: Oswald;
  margin: 0 auto;
  font-size: 3rem;
  color: #126064;
  text-shadow: 0 0 10px rgba(163, 225, 230, 0.15);
  font-weight: 800;
  padding: 1rem;
  border-bottom: 1px dotted #219fa6
}

.HEaderText {
  margin: 0 auto;
  text-align: center;
  /* margin: 0 auto */
}

.HEaderText h4 {
  font-family: Verdana;
  font-size: 0.9rem;
  color: #126064;
  text-shadow: 0 0 10px rgba(163, 225, 230, 0.15);
  font-weight: 600
}

.MainContainer img {
  height: 100px;
  width: 100px;
  margin: 0.5rem 0.5rem 0 0;
}


.CEFRTitle {
  font-family: Oswald;
  font-size: 1.2rem;
  color: #126064;
  text-shadow: 0 0 10px rgb(90, 146, 150, 0.15);
  font-weight: 800;
  padding: 0;
  border-bottom: 1px dotted #219fa6;
  text-align: center;
  margin: 0;
}

.CEFR-Table td {
  font-family: Verdana;
  font-size: 1rem;
  color: #126064;
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px dotted #bbdcdd;
  border-collapse: collapse;
}

.CEFRDesc {
  font-family: Verdana;
  font-size: 0.9rem;
  color: #126064;
  font-weight: 500;
  padding: 0 0.5rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.CEFRDur {
  font-family: Verdana;
  font-size: 0.9rem;
  color: #126064;
  text-align: center;
  font-weight: bold;
  padding: 0rem;
  margin: 0 auto 1rem;

}

.Guarantee {
  /* position: absolute; */
  /* bottom: 3rem;
  left: 3rem; */
  width: 80%;
  max-width: 90%;
  max-height: 20%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  text-align: left;
  font-family: Verdana;
  font-size: 0.8rem;
  color: #126064;
  line-height: 1.2;
  font-weight: 500;
  /* z-index: 2; */
}

.levels-container {
  /* background-color: rgba(255, 255, 255, 0.9); */
  margin: 0;
  border-radius: 15px;
  height: 90%;
  /* width: 95%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all ease 0.5s;
  z-index: 1;
}

.expanded {
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
}

.compressed {
  transition: all ease 0.5s;
  width: 68%;
  height: 100%;
}

/* --- GRID --- */
.levels-grid {
  padding: 0;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* overflow: hidden; */
  gap: 0;
  transition: all ease 0.5s;
  width: 100%;
  height: 100%;
}

/* --- BOTONES --- */
.level-btn {
  color: #126064;
  font-family: Oswald;
  font-size: 1rem;
  padding: 12px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  width: 100%;
  height: 100%;
  max-width: calc(100vw/12);
  transition: all ease 0.5s;
  background-color: var(--background-color);
  background-size: var(--background-size);
  background-position: var(--background-position);
  background-repeat: var(--background-repeat);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.ready4Masters {
  position: absolute;
  top: 55%;
  right: 8rem;
  width: 1rem;
  margin-bottom: 3rem;
  height: 1rem;
}

/* lo que todos los btns siempre llevan al haber hover */
.levels-grid .level-btn:hover {
  transition: all ease 0.3s;
  transform: scale(1.2);
  z-index: 1;
}

.levels-grid .level-btn:focus {
  transform: scale(1.2);
  z-index: 1;
  border: none;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.2)
  }
}

.Topics {
  position: absolute;
  right: 0;
  top: 5rem;
  width: 30%;
  min-width: 300px;
  max-width: 900px;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  transition: all ease 0.5s;
  border-radius: 25px 0 0 25px;
}

.in {
  animation: in 0.3s ease-in;
}

.out {
  animation: out 0.3s ease-out;
}

@keyframes in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%)
  }
}

.topicsSpace {
  overflow: auto;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.5s;
  background-color: rgb(226, 243, 244, 0.1);
  border-radius: 25px;
}

.closeTopics {
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: #126064;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.hidden {
  display: none
}

footer {
  background-color: #f8f8f830;
  padding: 5px 10px;
  bottom: 0px;
  right: 0;
  width: auto;
  margin: auto;
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
}

/* =========================================== */
/* =============== TOPIC TABLE =============== */
/* ===========================================  */

.topicSpace table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  overflow: auto;
  height: 100%;
}

.topicSpace table tr {
  width: 100%;
}

.titlediv {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.LevelTitle {
  font-family: Oswald;
  font-size: 1.8rem;
  color: #126064;
  text-shadow: 0 0 10px rgba(163, 225, 230, 0.15);
  font-weight: 800;
  padding: 0rem;
  margin: 0.5rem auto 1rem;
  text-align: center;
}

.filterwarning h3 {
  font-family: Verdana;
  font-size: 0.95rem;
  color: #126064;
  text-shadow: 0 0 10px rgb(95, 48, 48, 0.15);
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto 0;
  text-align: center;
  background-color: #f5ffff;
  border-radius: 15px;
}

.filterwarning button {
  font-family: Verdana;
  font-size: 0.75rem;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(163, 225, 230, 0.15);
  font-weight: 600;
  padding: 0.7rem;
  margin: 0;
  text-align: center;
  border: none;
  width: auto;
  max-width: 120px;
  height: 50px;
  background-color: #126064;
  box-shadow: 0 3px 7px rgb(0, 63, 66, 0.1);
  cursor: pointer;
  position: absolute;
  top: 3.5rem;
  right: 0;
  border-radius: 25px 0 0 25px;
}

/* contains filter explatanation white back holder */
.FilterExpl {
  /* margin: auto; */
  background-color: #f5ffff;
  border-radius: 25px;
  padding: 1.7rem;
  z-index: 999;
  width: 70%;
  max-width: 1000px;
  min-width: 10%;
  height: auto;
  animation: fadepopIn 0.3s ease-in forwards;
}

.FilterExplbefore {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* border-radius: 25px; */
  animation: fadein 0.3s ease-in forwards;
  justify-items: center;
  align-content: center;
}

.FilterExpl h1 {
  font-family: Oswald;
  font-size: 2rem;
  color: #126064;
  font-weight: 800;
  padding: 0.5rem 1rem 0;
  margin: 0 auto;
  text-align: center;
}

.Filtercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.FilterExpl p {
  font-family: Roboto Flex;
  font-size: 1.15rem;
  color: #126064;
  font-weight: 400;
  padding: 0.5rem 2rem;
  margin: 0.5rem auto 0;
  line-height: 1.2;
  text-align: center;
}

.FilterExpl ul {
  font-family: Roboto Flex;
  font-size: 1.15rem;
  color: #126064;
  font-weight: 400;
  padding: 0.5rem 2rem;
  margin: 0.5rem auto;
  line-height: 1.2;
  text-align: left
}

.FilterExpl li {
  font-family: Roboto Flex;
  font-size: 1.15rem;
  color: #126064;
  font-weight: 400;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  line-height: 1.2;
}

.FilterExpl button {
  width: 100%;
  height: auto;
  align-self: center;
  margin: 0.5rem auto;
  padding: 0.85rem;
  border-radius: 10px;
  background-color: #126064;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

@keyframes fadepopIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fadepopout {
  animation: fadepopout 0.3s ease-out forwards;
}

@keyframes fadepopout {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.5)
  }
}

.fadeout {
  animation: fadeout 0.3s ease-out forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0
  }
}

.LevelSubtitle {
  font-family: Verdana;
  font-size: 0.95rem;
  color: #1b5c5f;
  text-shadow: 0 0 10px rgb(77, 124, 128, 0.15);
  font-weight: 600;
  padding: 0.5rem;
  margin: 0;
  border-bottom: 1px dotted #92ced3;
}

.TopicName {
  font-family: Verdana;
  border-bottom: 1px dotted #dcf8fa;
  text-align: left;
  padding: 1rem 0.5rem 0.2rem;
  font-size: 0.95rem;
  font-weight: 600;
  color: #126064;
}

.TopicsDescription {
  font-family: Verdana;
  font-weight: 500;
  text-align: left;
  padding: 0rem 0.3rem 0rem 10%;
  border-bottom: 1px dotted #dcf8fa;
  color: #044043;
  font-size: 0.85rem;
}

.extrainfo {
  padding: 0 0.5rem;
  margin: 0 auto;
}

.extrainfo h3 {
  font-family: Verdana;
  font-size: 0.85rem;
  color: #126064;
  font-weight: 500;
  text-align: center
}

.hoveringbutton {
  font-family: Verdana;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 1;
  width: 30%;
  height: auto;
  align-self: center;
  margin: 0.5rem 0;
  padding: 0.8rem 0.5rem;
  border-radius: 25px;
  background-color: white;
  color: #044043;
  font-weight: bold;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.hoveringbutton::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  background: conic-gradient(from var(--angle),
            #1CA5AB80,
      #94C12180,
      #F08C2880,
      #EB595580,
      #EC661980,
                             #1CA5AB80
      );
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-ma: xor;
  mask-composite: exclude;
  animation: rotate 4s linear infinite;
  z-index: 1;
  border-radius: 25px
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


:root {
  --btn0: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/0.svg");
  --btn1: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/1.svg");
  --btn2: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/2.svg");
  --btn3: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/3.svg");
  --btn4: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/4.svg");
  --btn5: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/5.svg");
  --btn6: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/6.svg");
  --btn7: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/7.svg");
  --btn8: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/8.svg");
  --btn9: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/9.svg");
  --btn10: url("https://raw.githubusercontent.com/TheMichia/English4Kids/49ab6c5a1cbdcfa675c471742c64e575b9a91640/Levels/10.svg");
  --btn11: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/11.svg");
  --btn12: url("https://raw.githubusercontent.com/TheMichia/English4Kids/e2e6d3c9611d96f1e8fe30ca4f744d02cc2083ee/Levels/12.svg");

  --Hbtn0: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/0.png");
  --Hbtn1: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/1.png");
  --Hbtn2: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/2.png");
  --Hbtn3: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/3.png");
  --Hbtn4: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/4.png");
  --Hbtn5: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/5.png");
  --Hbtn6: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/6.png");
  --Hbtn7: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/7.png");
  --Hbtn8: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/8.png");
  --Hbtn9: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/9.png");
  --Hbtn10: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/10.png");
  --Hbtn11: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/11.png");
  --Hbtn12: url("https://raw.githubusercontent.com/TheMichia/English4Kids/refs/heads/main/Levels-Hover/12.png");



  --background-color: transparent;
  --background-size: 100%;
  --background-position: center;
  --background-repeat: no-repeat;

}

/* --- COLORES CICLADOS CADA 5 BOTONES --- */
.levels-grid .level-btn:nth-child(13n + 1) {
  background-image: var(--btn0);
}

.levels-grid .level-btn:nth-child(13n + 2) {
  background-image: var(--btn1);
}

.levels-grid .level-btn:nth-child(13n + 3) {
  background-image: var(--btn2);

}

.levels-grid .level-btn:nth-child(13n + 4) {
  background-image: var(--btn3);
}

.levels-grid .level-btn:nth-child(13n + 5) {
  background-image: var(--btn4);
}

.levels-grid .level-btn:nth-child(13n + 6) {
  background-image: var(--btn5);
}

.levels-grid .level-btn:nth-child(13n + 7) {
  background-image: var(--btn6);
}

.levels-grid .level-btn:nth-child(13n + 8) {
  background-image: var(--btn7);
}

.levels-grid .level-btn:nth-child(13n + 9) {
  background-image: var(--btn8);
}

.levels-grid .level-btn:nth-child(13n + 10) {
  background-image: var(--btn9);
}

.levels-grid .level-btn:nth-child(13n + 11) {
  background-image: var(--btn10);
}

.levels-grid .level-btn:nth-child(13n + 12) {
  background-image: var(--btn11);
}

.levels-grid .level-btn:nth-child(13n + 13) {
  background-image: var(--btn12)
}

/* ===========HOVER */
/* 

.levels-grid .level-btn:nth-child(13n + 1):hover {
  background-image: var(--Hbtn0);
}

.levels-grid .level-btn:nth-child(13n + 2):hover {
  background-image: var(--Hbtn1);
}

.levels-grid .level-btn:nth-child(13n + 3):hover {
  background-image: var(--Hbtn2);
}

.levels-grid .level-btn:nth-child(13n + 4):hover {
  background-image: var(--Hbtn3);
}

.levels-grid .level-btn:nth-child(13n + 5):hover {
  background-image: var(--Hbtn4);
}

.levels-grid .level-btn:nth-child(13n + 6):hover {
  background-image: var(--Hbtn5);
}

.levels-grid .level-btn:nth-child(13n + 7):hover {
  background-image: var(--Hbtn6);
}

.levels-grid .level-btn:nth-child(13n + 8):hover {
  background-image: var(--Hbtn7);
}

.levels-grid .level-btn:nth-child(13n + 9):hover {
  background-image: var(--Hbtn8);
}

.levels-grid .level-btn:nth-child(13n + 10):hover {
  background-image: var(--Hbtn9);
}

.levels-grid .level-btn:nth-child(13n + 11):hover {
  background-image: var(--Hbtn10);
}

.levels-grid .level-btn:nth-child(13n + 12):hover {
  background-image: var(--Hbtn11);
}

.levels-grid .level-btn:nth-child(13n + 13):hover {
  background-image: var(--Hbtn12);
} */
